*{
    font-family: sans-serif;
}

/*CABEÇALHO*/
.cabeçalho{
    height: 58px;
    width: 1300px;
    box-shadow: 0px 4px 40px -15px #00000040;
    display: flex;
    justify-content: center;
}

.cabeçalho p{
height: 30px;
width: 97px;
left: 602px;
top: 12px;
font-family: sans-serif;
font-size: 20px;

}

/*container mairo envonvelndo o conteudo principal*/
.container{
margin-top: 50px;
margin-bottom: 50px;
margin-left: 3%;
margin-right: 3%;
gap: 10%;
width: 1300px;

}
/*conteudo principal*/
.card-maior{ 
    display: flex;
    gap:30px;
    flex-wrap: wrap;
    width: 60%;
}

/*cards de conteudo*/
.card{
box-shadow: 0px 4px 40px -15px #00000040;
width: 290px;
left: 300px;
top: 99px;
border-radius: 8px;
margin-bottom: 20px;
padding: 10px;
}

.titulo2{
    margin-top: 3px;
    margin-bottom: 3px;
    width: 290px;
    height: 38px;
font-size: 16px;
font-weight: 700;
line-height: 24px;
text-align: left;

}
.paragrafo{
margin-top: 5px;
margin-bottom: 5px;
font-size: 12px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;


}

.span{
background-color: #dbd8d8;
height: 19px;
width: 54px;
left: 471px;
top: 420px;
border-radius: 3px;
justify-content: center;
padding: 3px;
font-size: 12px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;


}

/*barra lateral*/
.lateral{
width: 30%;
position: absolute;
width: 317px;
height: 742px;
left: 821px;
top: 120px;
box-shadow: 0px 4px 40px -15px #00000040;
padding: 10px;
font-size: 20px;
font-weight: 10px;

}

.titulo{


}
.card-aside{
    display: flex;
    justify-items: center;
    align-items: center;
}

.imagem{
    width: 70px;
    height: 100%;
    left: 840px;
    top: 152px;
    border-radius: 8px;
    justify-items: center;
}
.menção{
font-size: 14px;
font-weight: 70px;
line-height: 24px;
text-align: left;
padding: 5px;
}

/*rodape*/
.final{
    height: 105px;
    width:100%;
    top: 876px;
    background-color: black;
    color: cornsilk;
}
.final p{
 text-align: center;
 padding-top: 40px;
}